{% extends 'catalog/base.html' %}
{% load mediapath %}

{% block name %}
<div class="header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4"> Продукты </h1>
</div>
{% endblock %}

{% block nav %}
<a class="p-2 btn btn-outline-primary" href="{% url 'catalog:display_home_page' %}">Главная страница</a>

{% endblock %}

{% block store %}
<div class="row text-start">
    <div class="col-12">
        <a class='btn btn-primary' href="{% url 'catalog:product_create' %}">
            Добавить продукт
        </a>
    </div>
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for object in object_list %}
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="{% mediapath object.preview %}" width="100%" height="250">
                        <div class="card-body">
                            <p class="card-text, center">{{ object.name }}</p>
                            <p class="card-text">
                                {% if object.active_version %}
                                    <p>Активная версия: {{ object.active_version.version_name }}</p>
                                {% else %}
                                    <p>Активная версия отсутствует</p>
                                {% endif %}
                            </p>

                            <div class="d-flex justify-content-between align-items-center">
                                <div class="card-body">
                                    <div class="card-body">
                                        <a type="button" class="btn btn-sm btn-outline-secondary"
                                           href="{% url 'catalog:product_detail' pk=object.id  %}">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
